



			<div class="container d-flex justify-content-around">
				<div class="row justify-content-between">
					<div class="col-9 card-all">
						<% @mangas.each do |manga|%>
							<article class="card-last-manga card--1">
								<div class="card__img" style="background-image: url('<%= manga.image_url %>')"></div>
									<a href="#" class="card_link">
								<div class="card__img--hover" style="background-image: url('<%= manga.image_url %>')"></div>
								</a>
								<div class="card__info">
									<%= link_to manga.title.capitalize, library_item_path(manga), class: "card__title"%>
									<h5><span>par <%=manga.author%></span></h5>
									<% manga.categories.each do |category| %>
									<%= link_to category.name, category_path(category.id) %>
									<%end%>
								<%= link_to "Voir le manga", manga_path(manga), class: 'btn btn-info mt-2'%>
								</div>
							</article>	
						<% end %>
					</div>
					<div class="col-2 justify-content-around">
						<%= link_to 'all', root_path  %> <br>
						<% @categories.each do |category| %>                 
						<%= link_to category.name, category_path(category) %> <br>  
						<% end %>
					</div>
				</div>
			</div>
				<%= pagy_bootstrap_nav(@pagy).html_safe%>
