<header>
  <div class="container-fluid" id="fond">
    <%= image_tag 'rectangle1.png', class:"rectangle1 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rouge1.png', class:"rouge1 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rectangle2.png', class:"rectangle2 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rectangle3.png', class:"rectangle3 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rectangle4.png', class:"rectangle4 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rectangle5.png', class:"rectangle5 animate__animated animate__fadeInUpBig"%>
    <%= image_tag 'rouge2.png', class:"rouge2 animate__animated animate__fadeInDownBig"%>
    <%= image_tag 'rectangle6.png', class:"rectangle6 animate__animated animate__fadeInUpBig"%>
    <div class="container-title animate__animated animate__fadeInLeftBig">
      <h1 class="title">La marketplace des mangas !</h1>
      <a class="btn btn-secondary" href="<%=library_items_path%>">Découvrez-les</a>
    </div>
  </div>
</header>

 <%= render "shared/searchbar" %>

<main>
  <div class="container-fluid section1">
    <h2 class="text-center">Rejoins la communauté Kasu et échange tes Mangas en toute simplicité</h2>
    <div class="container d-flex justify-content-around all-icon">
      <div class="text-center mr-5">
        <a class="" href="<%= mangas_path %>"><%= image_tag 'echange.png', class:"icon-explication icon1 mb-4"%></a>
        <h3>1.Je crée ma bibliothèque</h3>
        <p>Met en ligne les mangas <br /> que tu ne veux plus.</p>
      </div>
      <div class="text-center mr-5">
        <a class="" href="<%=static_pages_concept_page_path%>"><%= image_tag 'recois.png', class:"icon-explication icon1 mb-4"%></a>
        <h3>Reçois</h3>
        <p>Reçois des kasu points<br />une fois ton vieux manga échangé.</p>
      </div>
      <div class="text-center">
        <a class="" href="<%= library_items_path %>"><%= image_tag 'achete.png', class:"icon-explication icon1 mb-4"%></a>
        <h3>Choisis</h3>
        <p>Achète les mangas que tu veux<br />grâce à tes kasu points !</p>
      </div>
    </div>
  </div>

  <div class="section2">
    <h2 class="text-center">Les derniers mangas ajoutés</h2>
    <div class="container d-flex justify-content-around">
      <%= render "card" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Les mangas disponibles", library_items_path, class: 'btn btn-outline-dark'%>

    </div>
  </div>

  <div class="section3">
    <h2 class="text-center">Les nouveaux membres</h2>
    <%= render "card-user" %>
  </div>

  <div class="section4">
    <%= image_tag "sig_up.png", class:"img-sign" %>
    <h4>Toi aussi rejoins la communauté et échange en toute simplicité !</h4>
    <a href="<%=new_user_registration_path%>" class="btn btn-danger">s'inscrire</a>
  </div>

</main>










