  
  <div class="container m-3 d-flex align-items-start">
    <h3>Résultat de ta recherche</h3>  
    <div class="result m-5">
          <% @results.each do |result| %>  
          <ul>
            <li><b> <%= result.title.capitalize %> </b> de <b> <%= result.author %> </b> 	<%= link_to "Voir le manga", manga_path(result)%> </li>
          </ul>
      <% end %>
    </div>
  </div>

        <div class="section5">
    <%= image_tag "sig_up.png", class:"img-sign" %>
    <h3><b>Toi aussi rejoins la communauté et échange en toute simplicité !</b></h3>
    <a href="<%=new_user_registration_path%>" class="btn btn-danger">s'inscrire</a>
  </div>